*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color:black
  }
.Calculator{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Calc{
    padding: 20px;
    border-radius: 20px;
    background: transparent;
    border: none;
    border: 2px solid wheat;
  }
  
  #input{
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
    height: 90px;
    border: none;
    background: transparent;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: 1px solid wheat;
    margin-bottom: 40px;
  }
  
  button{
    border: none;
    color: #fff;
    margin: 10px;
    height: 80px;
    width: 80px;
    border-radius: 20;
    background: transparent;
    cursor: pointer;
    border: 1px solid white;
  }